<%- include('template/headerpage') %>
<body>
    <div class="container">
    <%- include('./template/navbar') %> 
    <h1><%= title %></h1>
    </div>
</body>
<%- include('./template/footer') %>
</html>