<%- include('template/headerpage') %>
    <body>
        <%- include('./template/navbar')  %> 
        <h1>Antigen test </h1>
        <p>explanation</p>
        <a href="/steps"><button>Proceed to steps</button></a>
    </body>
    <%- include('./template/footer') %>
</html>