
<%- include('template/headerpage') %>
    <body>
        <%- include('./template/navbar')  %> 
        <h1>Our tests</h1>
        
        <div class="rapid-antigen">
            <a href="/booking/antigen"><h1>Rapid antigen test</h1></a>
        </div>
        <div class="pcr">
            <a href="/booking/pcr"><h1>Normal PCR Test</h1></a>
        </div>
        <div class="pcr-express">
            <a href="/booking/pcr-express"><h1>Express PCR Test</h1></a>
        </div>
    </body>
    <%- include('./template/footer') %>
</html>