<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="My Page Description">
        <title>Home Page</title>
        <link href="./css/bootstrap.css" rel="stylesheet">
        <%- include('./style')  %>
    </head>
    <body>
       <%- include('./template/navbar')  %> 
        <div class="container">
            <div class="bg-image" style="background-image: url('https://images.unsplash.com/photo-1592671963996-0b4616e9f042?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80'); height: 300px;"></div>
            <br>
            <h1 >PRICING AND TEST TYPES</h1>
                <div class="card my-antigen mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Free Antigen Covid-19 Tests</h5>
                      <table>
                        <tr>
                            <td>Results in 20 minutes</td>
                        </tr>
                        <tr>
                            <td>0€</td>
                        </tr>
                    </table>
                    </div>
                  </div>
                  
                  <div class="card my-pcr mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">RT-PCR tests</h5>
                      <table>
                        <tr>
                            <td>Normal (Results in 24 hours)</td>
                        </tr>
                        <tr>
                            <td>25€</td>
                        </tr>
                        <tr>
                            <td>Express (results in 6 hours)</td>
                        </tr>
                        <tr>
                            <td>60€</td>
                        </tr>
                    </table>
                    </div>
                  </div>
                
        </div>
        <br />
        <!--About tests-->
        <!--"NAV" is being displayed-->
        <div class="container">
            <h1>OUR TESTS</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">ANTIGEN RAPID TEST</h5>
                      <p class="card-text">Most travel countries now only require a negative rapid test result for entry for unvaccinated persons. The same applies to locations that make the so-called 3G rule a prerequisite for access. 3G stands for vaccinated, recovered or tested. 2G+ for Vaccinated and Tested. This can be restaurants as well as theaters or fitness clubs and other locations. In these cases, our official certificate gives you access - to the location or to...</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">RT PCR TEST</h5>
                        <p class="card-text">With the standard RT-PCR test, you usually get the result within 36 hours* - often much faster! With Express, you usually get the result within 6 hours* and with SameDay, you usually get the result on the same day (late at night)*. OEGD testing (free RT-PCR testing may take up to 48 hours). The security of the results is always our priority.</p>
                      </div>
                    </div>
                </div>
        </div>
        <br />
        <!--Stations-->
        <!--"NAV" is being displayed-->
        <div class="container">
            <h1>OUR STATIONS</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Station 1</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Station 2</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                          <div class="card-body">
                          <h5 class="card-title">Station 3</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Station 4</h5>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
        <br />
        <!--FAQ-->
        <!--"NAV" is being displayed-->
        <div class="container">
            <h2>Frequently asked questions</h2> <!--Should display the answer oncick-->
            <br />
            <ul>
                <li><h4>Do i need an appointment?</h4></li>
                <br />
                <li><h4>When and how do i recieve the results?</h4></li>
                <br />
                <li><h4>Question</h4></li>
                <br />
                <li><h4>Extra</h4></li>
            </ul>
            <label>Have a question? Ask us!</label>
            <input type="text" required>
            <button>Send a question</button>
        </div>
        <br />
        <%- include('./template/footer') %>
    </body>
</html>