<%- include('template/headerpage') %>
    <body>
        <%- include('./template/navbar')  %> 
        <h1>Pcr test</h1>
        <a href="/steps"><button>Booking steps</button></a>
    </body>
    <%- include('./template/footer') %>
</html>