<%- include('template/headerpage') %>
    <body>
        <%- include('./template/navbar')  %> 
        <h1>Steps for:</h1>  
        <%- include('./template/progressbar')  %> 
        <div class="container">
            <a href="/steps/form"><button>Fill form</button></a>
        </div>
    </body>
    <%- include('./template/footer') %>
</html>