<%- include('template/headerpage') %>
<body>
    <div class="container">
    <%- include('./template/navbar')  %>
    <br>
    <h1 class="text-center">Submitted</h1>
    <br>
    <%- include('./template/footer') %>
    </div>
</body>