<footer>
<div class="footer container my-nav">
    <footer>
    <div class="row">
        <div class="col">
            <h3 class="">COVIDPORTAL</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Privacy and Cookies</p>
            <a href="/home"><p>Go back to homepage</p></a>
        </div>
    </div>
    
</div>
</footer>