<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="My Page Description">
        <title><%= title %></title>
        <link href="./css/bootstrap.css" rel="stylesheet">
        <%- include('../style')  %> 
    </head>