<nav class="navbar sticky-top container my-nav">
    <div class="row">
        <div class="col">
            <h3 class="">COVIDPORTAL</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/booking"><button class="btn">Book a test</button></a>
        </div>
    </div>
</nav>