<div class="step">
    <div>
       <div class="circle"><i class="fa fa-check"></i></div>
    </div>
    <div>
       <div class="title">Select Station</div>
       <div class="caption">Choose between our stations!</div>
    </div>
 </div>
 <div class="step step-active">
    <div>
       <div class="circle">2</div>
    </div>
    <div>
       <div class="title">Select Day and Time</div>
       <div class="caption">Choose a day in our calendar!</div>
    </div>
 </div>
 <div class="step">
    <div>
       <div class="circle">3</div>
    </div>
    <div>
       <div class="title">Form</div>
       <div class="caption">Fill the from with the data required.</div>
    </div>
 </div>
 <div class="step">
    <div>
       <div class="circle">4</div>
    </div>
    <div>
       <div class="title">Done!</div>
       <div class="caption">Ticket and billing.</div>
    </div>
 </div>