<div class="col align-self-center">
    <div class="row align-items-center">
        <div class="card text-center my-nav">
            <div class="card-body">
              <h5 class="card-title">Date and Time</h5>
              <label>Date:</label>
            <input type="date" name="birthdate" placeholder="DD.MM.YYYY" max="2022-04-11" >
            <br>
            <label>Date:</label>
            <input type="time" name="time" required>
            <br>
            </div>
        </div>
    </div>
</div>